/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-text-color: #000;
  --accent-font: 'Press Start 2P';
  --main-background-color: #fff;
}